---
---
<div class="text-xs text-gray-400 italic mt-2 text-center">
  <p>
    Transparency: We may earn a commission when you buy through our links. 
    <a href="/privacy" class="underline hover:text-gray-600">Learn more</a>.
  </p>
</div>
